@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Denk+One&family=Lato:wght@100&family=Raleway:wght@200&family=Roboto:wght@300&display=swap/css2?family=Anton&display=swap');

/* -- General -- */
body {
    font-weight: 400;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 1.5rem;
    background-color: #212121;
    color: #fff;
}

.divider-line{
    border: 1px solid #fff;
    width: 90%;
    margin: 3rem 0; 
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.btn-outline-primary {
    background-color: #212121;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.btn-outline-primary:hover {
    background-color: #212121;
    color: #fff;
    border: 1px solid #fff;
}

.btn-primary {
   background-color: #212121;
    color: #fff; 
    outline: none;
    border: none;
}

.btn-primary:hover {
   background-color: #212121;
    color: #fff; 
    border: 1px solid #fff;
}


/* --------- Navbar ---------- */
header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar {
    background-color: #485461;

    text-transform: uppercase;
}

.alert-top {
    background-color: #ffa500;
    text-align: center;
}

#topbar {
    text-decoration: none;
    color: #212121;
    font-size: 20px;
}

#topbar:hover {
    color: #fff;  
}

.navbar-brand {
    font-size: 40px;
}

.T-brand {
    color: #ffa500;
}

/*-- Carousel --*/

 .animation-blast {
  animation-duration: 2s;
  animation-name: slidein;
}

.title-carousel {
    font-size: 55px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.p-carousel {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.carousel-caption .btn2{
    width: 300px;
    background-color: #ffa500;
    padding: 10px 100px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #212121;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*-- Testemonial --*/

#testemonial {
    color: #fff;
}

.featurette-heading {
    margin-top: 10%;
}

/*-- Schedule --*/
.location-text {
    text-align: center;
}

.text-nowrap {
    text-align: center;
    margin: 30px 0;
}

.text-schedule {
    font-family: 'Bungee Shade', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #050505;
    margin-top: 50%;
}

.title-section {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 100px;
}

#can {
    font-size: 60px;
    font-family: 'Bungee Shade', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #050505; 
}

#choose {
   font-family: 'Denk One', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #050505;
    margin-top: 100px;
}

.period {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto',sans-serif;
    color: #050505; 
    border: 1px solid #fff; 
    border-width: 5px;
}

.span-time {
    border-bottom: 2px solid #fff;
    color: #050505;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;   
}

.span-time1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.padding-span {
    margin-bottom: 5px;
}

.about-intro {
    width: 350px;
    height: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.55);
}

.container-about1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 120px;
}

#about-img1 {
    margin: 20px;
    background-size: cover;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.75);
    border-radius: 8px;
    background-image: url("../images/classe1img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffa500;
    background-blend-mode: soft-light;
    text-decoration: none;
}

#about-img1:hover {
  border: 3px solid #fff;
}

#about-img1 img {
    max-width: 400px;
    height: auto;
    opacity: 70%;
    border-radius: 8px;
}

.about-intro1 {
    width: 350px;
    height: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.55);
    filter: brightness(89%);
}

.container-about2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 120px;
}

#about-img2 {
    margin: 20px;
    background-size: cover;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    text-decoration: none;
    background-image: url("../images/joinus.jpg");
    filter: brightness(100%);
}

#about-img2:hover {
  border: 3px solid #fff;
}

#about-img2 img {
    max-width: 400px;
    height: auto;
    opacity: 70%;
    border-radius: 8px;
    
}

.about-intro2 {
    width: 350px;
    height: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.55);
}

#text-schedule2 {
    font-family: 'Denk One', sans-serif;
    font-size: 50px;
    color: #ffa500;
    text-transform: uppercase;
    margin-top: 90%;
    margin-left: 45%;
}

.container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 120px;
}

.about-img {
    margin: 20px;
    background-color: #ffa500;
    background-size: cover;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.75);
    border-radius: 8px
}

.about-img img {
    max-width: 400px;
    height: auto;
    opacity: 70%;
    border-radius: 8px;
}

.middle {
    margin-bottom: 20px;
}

.fa-stopwatch {
    font-size: 120px;
    margin-left: 40px;
    color: #212121;
}

/* ---------- Location ---------- */

.map {
    width: 70rem;
    height: 30rem;
}

.fw-light {
    text-transform: uppercase;
    width: 100%;
    font-size: 6rem;
    text-align: center;
    font-family: 'Anton',sans-serif;
}


/*-- Pricing --*/

.card {
    background-color: #ffa500;
    color: #050505;
}

.card-header {
    border-bottom: 1px solid #fff;
}


.btn-primary1 {
    background-color: #ffa500;
    width: 40%;
    text-transform: uppercase; 
}

.btn-primary1:hover {
    border: 1px solid #fff;
}

/*-- Footer --*/
footer {
    background-color: #485461;

}
footer .row {
    line-height: 20px;
    padding-top: 15px;
    
}

.footer {
    color: #fff;
    margin-top: 35px;
}

.icons-footer i {
    margin: 0 20px;
    font-size: 25px;
    color: #fff;
}

.icons-footer {
    display: flex;
    justify-content: flex-end;  
}

.fa-facebook:hover {
    color: #4267B2;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: #FD1D1D;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    .about-intro {
        width: 300px;
    }

    .about-intro1 {
        width: 300px;
    }

    .about-intro2 {
        width: 300px;
    }

    .text-schedule {
        font-size: 38px;
    }
}

@media screen and (max-width: 768px){
    .title-carousel {
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
    .text-center {
        text-align: center;
        
    }
}

@media screen and (min-width: 768px) {
    .img-cont {
       width:80%; 
    }
}


@media screen and (max-width: 320px) {
    .carousel-caption .btn2{
        width: 300px;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 20px;
    }

    .title-carousel {
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }

    .p-carousel{
       font-size: 15px;
    }

    .carousel-item img{
        height: 220px;
    }
}