@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.navbar {
    background-color: #050505;
    height: 80px;
}

.marketing {
    background-color: #1b1b1b;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #1b1b1b;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.album {
    background-color: #1b1b1b;
}

.price-table-text {
    background-color: aquamarine;
}


.price-table-text span{
    margin-left: 180px;
    border: 1px solid #fff;
}
/*------------*/
.row {
    position: relative;
}



.period {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    color: #050505;
    
}

.span-time {
    border-bottom: 2px solid #fff;
    color: #050505;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 10px;

      
}

.fa-stopwatch {
    font-size: 120px;
    margin-left: 40px;
    
}
/*------------ Classes */

.container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 120px;
}

.about-img {
    margin: 20px;
    background-color: #ffa500;
    background-size: cover;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.75);
    border-radius: 8px
}

.about-img img {
    max-width: 400px;
    height: auto;
    opacity: 70%;
    border-radius: 8px;
}

.middle {
    margin-bottom: 20px;
}

.about-intro {
    width: 350px;
    height: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: 6px 6px 35px -8px rgba(0,0,0,0.55);
}